.body{
    background-image: url('back.jpg');
    background-repeat: no-repeat;
}
a{
    color: rgb(126, 126, 226);
    cursor: pointer;
}
a:hover{
    color: blue;
}

.formborder{
    position: absolute;
    left: 400px;
    top: 50px;
    width: 390px;
    height: 500px;
    font-size: 20px;
    background-color: white;
}
.form{
    top: 30px;
    position: relative;
    text-align: center;
    height: 470px;
    border: none;
}
#input{
    width: 360px;
    height: 40px;
    color: black;
    background-color: rgb(197, 197, 197);
    margin: 0px 0px;
    border: none;
}
.div1{
    position: relative;
    width: 200px;
    margin: 0px auto;
    border: none;
    left: -80px;
}

#check{
    margin-top: 13px;
    left: -25px;
    position: relative;
    border: none;
}
.mybutn{
    position: relative;
    width: 50%;
    justify-items: center;
    top: 20px;
    left: 100px;
}
.comment{
    margin-top: 35px;
    font-size: 15px;
    color: rgb(109, 109, 109);
    border: none;
    position: relative;
    top: 12px;
}
.fa{
    padding: 10px;
    width: 150px;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
.fa:hover{
    opacity: 0.7s;
    color: rgb(197, 196, 196);
    text-decoration: none;
}
.fa-google {
    background: #dd4b39;
    color: white;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .footer{
      padding-top: 15px;
      font-size: smaller;
      color: rgb(119, 119, 119);
      border: none;
  }


  /*Second Form*/

  .formborder2{
    position: absolute;
    left: 400px;
    top: 50px;
    width: 380px;
    height: 500px;
    font-size: 20px;
    background-color: white;
}
.form2{
    top: 30px;
    position: relative;
    text-align: center;
    height: 470px;
    border: none;
}
#input2{/*FIRST AND LAST NAME*/
    width: 165px;
    height: 40px;
    color: black;
    background-color: rgb(197, 197, 197);
    border: none;
    text-align: left;
    margin-bottom: 20px;
    margin-right: 3px;
}
#input3{/*PASS*/
    position: relative;
    left: -1px;
    width: 344.5px;
    height: 40px;
    color: black;
    background-color: rgb(197, 197, 197);
    margin: 0px;
    margin-bottom: 20px;
    border: none;
    text-align: left;    
}
#input4{/*CONFIRM PASS*/
    position: relative;
    left: 0px;
    width: 344.5px;
    height: 40px;
    color: black;
    background-color: rgb(197, 197, 197);
    margin-left: -5px;
    margin-bottom: 25px;
    border: none;
}

.div2{/*EVERYTHING FROM NAME TO SIGNUP*/
    position: relative;
    width: 380px;
    border: none;
    left: 0px;
    top: 20px;
    border: none;
}

.check2{
    top: -15px;
    left: -72px;
    position: relative;
    
}
.check3{
    font-size: x-small;
    top: -18px;
    left: -70px;
    position: relative;
    border: none;
}

#com1{
    float: left;
    font-size: small;
    color: rgb(105, 105, 105);
    margin: -10px 20px ;
    border: none;
}
#head1{
    float: left;
    margin: 0px 20px ;
    font-weight: bold;
}
hr{
    margin: 5px;
    padding: 0px 10px;
    border: 10px;
}
.mybtn{
    padding: 10px 20px;
    font-size: 20px;
    width: 50%;
}
#input10{
    position: relative;
    left: -1px;
    width: 344.5px;
    height: 40px;
    color: black;
    background-color: rgb(197, 197, 197);
    margin: 0px;
    margin-bottom: 20px;
    border: none;
    text-align: left;
}